@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 400;
  src: url('www/fonts/Gudea/Gudea-Regular.ttf'); }

@font-face {
  font-family: 'Gudea';
  font-style: normal;
  font-weight: 600;
  src: url('www/fonts/Gudea/Gudea-Bold.ttf'); }

@font-face {
  font-family: 'Gudea';
  font-style: italic;
  font-weight: 400;
  src: url('www/fonts/Gudea/Gudea-Italic.ttf'); }

@font-face {
  font-family: 'Petrona';
  font-style: normal;
  font-weight: 400;
  src: url('www/fonts/Petrona/Petrona-Regular.ttf'); }

body {
  background: blue;
  color: white;
  font-family: Petrona; }
